<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button [routerLink]="['/tulsa']">Tulsa </button>
  <button [routerLink]="['/burbank']">Burbank </button>
  <button [routerLink]="['/Chicago']">Chicago </button>
  <button [routerLink]="['/dallas']">Dallas </button>
  <button [routerLink]="['/dc']">DC </button>
  <button [routerLink]="['/sanjose']">San Jose </button>
  <button [routerLink]="['/seattle']">Seattle</button>

<router-outlet></router-outlet>
