<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cars and Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Cars</h1>
        <p class="lead">This is the Cars</p>
        <hr class="my-4">
        <p>Car Pictures</p>
        <div class="container">
                <img src="./images/planeCat.jpg">
                <img src="./images/SharkCat.jpg">
                <img src="./images/friendCat.jpg">
        </div>
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
        <a class="btn btn-primary btn-lg" href="/cars" role="button">Cars</a>
        <a class="btn btn-primary btn-lg" href="/forms" role="button">New Cars</a>
      </div>
</body>
</html>