<div class="col-4">
  <form (submit)="addRestaurant()">
    <h3>New Restaurant</h3>
    <hr class="my-4">
    <label>Restaurant Name:
      <input type="text" class="form-control" name="createRestaurant.title" [(ngModel)]="createRestaurant.title" #name='ngModel'>
    </label>
    <br>
    <br>
    <label>Cuisine:
      <input type="text" class="form-control" name="createRestaurant.description" [(ngModel)]="createRestaurant.description">
    </label>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Create Restaurant" />
    <hr class="my-4">
  </form>
</div>