<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quoting Dojo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
        })
    </script>
</head>
<body>
    <div class="container">
    <div class="jumbotron">
        <form method="POST" action="quotes">
        <h1 class="display-4">Welcome to Quoting Dojo</h1>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Your Name:</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" name="name" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Your Quote:</span>
            </div>
            <textarea class="form-control" name="quote" aria-label="With textarea"></textarea>
        </div>        
        <hr class="my-4">
        <button class="btn btn-success btn-lg" type="submit" role="button">Add my quote!</button>
        <a class="btn btn-info btn-lg" href="/quote" role="button">Skip to quotes!</a>
    </div>
    </div>
</form>
</body>
</html>