<h3>Write a review for {{ name }}</h3>

<form action="" (submit)="addRating(getResturant._id)">
  <div class="form-row">
  <div class="form-group">
    <label for="name">Your name:</label>
    <input type="text" class="form-control" name="createRating.customer" [(ngModel)]="createRating.customer"> 
    <label for="rating">Stars:</label>
    <select class="form-control" name="createRating.rating" [(ngModel)]="createRating.rating">
      <option value=1>1 Star</option>
      <option value=2>2 Stars</option>
      <option value=3>3 Stars</option>
      <option value=4>4 Stars</option>
      <option value=5>5 Stars</option>
    </select>
    <label for="comment">Your review:</label>
    <textarea class="form-control" name="createRating.comment" [(ngModel)]="createRating.comment" rows="2"></textarea>
    <br>
    <button type="submit" class="btn btn-secondary">Submit</button>
    <br>
    <button [routerLink]="['/']">Cancel</button>
  </div>
  </div>
</form>
